@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* THEME VARIABLES */
@theme {
	--font-Inter: "Inter", sans-serif;
	--color-text-fg: #1f2937;
	--color-text-2: #4b5563;
	--color-theme: #ff6b2c;

	/* breakpoints */
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-2xl: 1400px;
	--breakpoint-3xl: 1600px;
	--breakpoint-4xl: 1800px;
	--breakpoint-5xl: 1920px;
}

/* EXTRA UTILITIES */
@layer utilities {
	body {
		@apply font-Inter text-text-fg bg-white;
	}
	a,
	button {
		@apply transition-all duration-200;
	}
	button {
		@apply cursor-pointer;
	}
	p {
		@apply text-base leading-7;
	}
	h1 {
		@apply text-3xl font-bold leading-tight;
	}
	.container {
		@apply px-4 mx-auto 2xl:max-w-[1256px];
	}
	.theme-btn {
		@apply inline-block bg-theme border border-solid border-theme    text-white font-medium text-[13px] leading-5 py-3 px-6 rounded-md capitalize text-center hover:bg-transparent hover:text-theme transition-all duration-300;
	}

	.theme-border-btn {
		@apply inline-block bg-white text-text-fg font-medium text-[13px]  box-border py-3 px-6 rounded-md capitalize border border-solid border-[#D1D5DB] text-center hover:bg-[#F2F5FF] transition-all duration-300;
	}
	.bg-custom-gradient {
		@apply bg-[linear-gradient(180deg,#171F29_0%,#030405_100%)];
	}
}
